{% extends 'base.html.twig' %}

{% block title %}List{% endblock %}

{% block body %}
    <H1>Listes des Articles</H1>
    <div class="container">
    <div class="row">

    {% for category in categories %}
        <h3>{{ category.name }}</h3> <br />
        <ul>
            {% for article in category.articles %}
                <li><a href="{{ path('blog_article', { 'id': article.id }) }}">{{ article.title }}</a></li>
            {% endfor %}
        </ul>
    {% endfor %}


{% endblock %}